<html>
  <head>
    <style>
      body {
        background: <%= background_color %>;
      }
    </style>
  </head>
  <body>

    <h2>Guess a Number Game</h2>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>

    <% if number == guess %>
      <p>The SECRET NUMBER is <%= number %></p>
    <% end %>

    <% if cheat == 'true' %>
      <p>Hint: The SECRET NUMBER is <%= number %></p>
    <% end %>

    <p><%= message %></p>
    <p>Guesses left: <%=guesses%></p>
  </body>
</html>
